@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
}

section h1 {
  font-family: "Poppins", sans-serif;
  font-size: 20vw;
  text-transform: uppercase;
  font-weight: bold;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
}

section:nth-child(1) h1 {
  background-image: url("backgrounds/fire.jpg");
}

section:nth-child(2) h1 {
  background-image: url("backgrounds/water.jpg");
}

section:nth-child(3) h1 {
  background-image: url("backgrounds/earth.jpg");
}

section:nth-child(4) h1 {
  background-image: url("backgrounds/ice.jpg");
}

.social {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%);
  font-size: 2rem;
}

.social > a {
  text-decoration: none;
  color: black;
}
